body{
	font-family: 'Raleway', sans-serif;
	color: #999;
	background-color: #222;
}

.row.main {
	height: 1000px;
	background-color: #F4F4F4;
}

.content {
	padding: 2em;
}

.navbar {
	background-color: #373737;
    height: 100%;
    padding: 2em;
}

footer {
	padding: 15px;
	color: #777;
	text-align: center
}

.paper {
	background-color: #F4F4F4;
}

.carbon {
  background-color: #373737;
}