body{
	font-family: 'Raleway', sans-serif;
	color: #999;
	background-color: #F4F4F4
}

h1 {
	text-align: center;
	font-size: 12vw;
	color: #555;
}

p {
  text-align: center;
	font-style: italic;
	font-size: 3vw;
}

.rounded {
  border-radius: 3px;
}

.vertical-center {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.button {
	font-weight: bold;
  background-color: #F4F4F4;
  border-style: solid;
  border-color: #373737 #373737;
  color: #373737;
  margin: 5vmin 2vmin ;
  padding: 2vmin 10vmin;
  text-align: center;
  display: inline-block;
  font-size: 3vmin;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 2px;
}

.button:hover {
  background-color: #373737;
  border-style: solid;
  border-color: #373737 #373737;
  color: #F4F4F4;
  text-decoration: none;
}


.paper {
  background-color: #F4F4F4;
}

.carbon {
  background-color: #373737;
}