{% extends "simple.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href={% static "/css/auth.css" %}>
{% endblock head %}

{% block content %}

	<div class="row full">
		<div class="col-5 full paper">
			<div class="lower">
				
				{% block banner %}
					
				<div class="row justify-content-center">
					<a class="button" href={% url 'login' %}>
						Login
					</a>
				</div>
				<br>
				<div class="row justify-content-center">
					<a class="button" href={% url 'register' %}>
						Register
					</a>
				</div>

				{% endblock banner %}

			</div>
		</div>
		<div class="col-6 ">
			<div class="vcenter">
				{% block display %}
				<h1 class="display-2">welcome.</h1>
				{% endblock display %}
			</div>	
		</div>
	</div>
{% endblock content %}