body{
	font-family: 'Raleway', sans-serif;
	color: #999;
	background-color: #F4F4F4
}

h1 {
	text-align: center;
	font-size: 5em;
	color: #555;
}

p {
	font-style: italic;
	font-size: 1.25em;
	text-align: center;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
}

.container.middle {
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.button {
	font-weight: bold;
    background-color: #F4F4F4;
    border-style: solid;
    border-color: #373737 #373737;
    color: #373737;
    padding: 10px 70px;
    text-align: center;
    display: inline-block;
    font-size: 1.25em;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #373737;
  border-style: solid;
  border-color: #373737 #373737;
  color: #F4F4F4;
  text-decoration: none;
}


.paper {
  background-color: #F4F4F4;
}

.carbon {
  background-color: #373737;
}