{% extends "simple.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href={% static "/css/auth.css" %}>
{% endblock head %}

{% block card %}


		<div class="row justify-content-center">
			{% block display %}
			<h1 class="display-2">welcome.</h1>
			{% endblock display %}
		</div>
		<div class="row paper justify-content-center rounded" >
			<div class="col-5 ">
				<div class="lower">
					
					{% block banner %}
						
					<div class="row justify-content-center">
						<a class="button rounded" href={% url 'login' %}>
							Login
						</a>
					</div>
					<br>
					<div class="row justify-content-center">
						<a class="button" href={% url 'register' %}>
							Register
						</a>
					</div>

					{% endblock banner %}

				</div>
			</div>
		</div>

{% endblock card %}