{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>EchoChamber</title>
	<link rel="stylesheet" type="text/css" href={% static "css/bootstrap.min.css" %}>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href={% static "css/simple.css" %}>
	{% block head %}
		
	{% endblock head %}
</head>
<body>

{% block content %}

	<div class="container-fluid vertical-center">	

		{% block card %}
			<div class="row justify-content-center">
				<div class="col ">
					<h1>EchoChamber</h1>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col">
					<p>
					Using machine learning to score and classify 
					the partisan bias of news articles
					</p>
				</div>
			</div>
			<br>
			<br>
			<br>
			<div class="row justify-content-center">
				<a class="button" href={% url 'accounts' %}>
					ENTER
				</a>
			</div>
		{% endblock card %}

	</div>

{% endblock content %}
	
</body>
</html>